<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
        akka {
          actor.provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
          akka.cluster.sharding.passivate-idle-entity-after = 1000
          deployment {
            /fc
            router = consistent-hashing-pool
            routees.paths = ["/user/fc"],
            cluster {
              enabled = on
              max-nr-of-instances-per-node = 3,
              allow-local-routees = on
            }
          }
          remote {
            helios.tcp {
              port = 8080
              hostname = localhost
            }
          }
          cluster {
            seed-nodes = ["akka.tcp://sys@localhost:8080"]
          }
        }]]>
    </hocon>
  </akka>
</configuration>