<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
        akka {
          log-dead-letters = 10
          actor.provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
          remote {
            helios.tcp {
              port = 0
              hostname = localhost
            }
          }
          cluster {
            seed-nodes = ["akka.tcp://sys@localhost:8080"]
          }
        }]]>
    </hocon>
  </akka>
</configuration>